$color-red: #ff6d6d;
$color-green: #a6ffb5;
$color-day-blue: #61bdff;
$color-night-blue: #0f4266;
$color-orange: #ff913d;
$color-dark-orange: #bf621a;
$color-light-orange: #faba8ab7;
$color-very-light-orange: #fff1de;
$color-pink: #ffb2ed;
