@font-face {
  font-family: 'MoonGet';
  src: url(/assets/fonts/MoonGetHeavy.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  src: url(/assets/fonts/Raleway.ttf) format('truetype');
}
